<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Reports.Properties.Settings.UnoEEConnectionString"
            connectionString="Data Source=SRV-ORION;Initial Catalog=UnoEE;Persist Security Info=True;User ID=sa;Password=*0carpasikl1*"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>